<nav class="navbar navbar-static-top ">
    <div class="container">

        <div class="col-sm-12 col-md-4 nav_button">

            <select ng-model="dancesong" class="form-control">
                <option value="" disabled selected>Select a Song</option>
                <option ng-repeat="song in songs" value="{{song.url}}">{{song.label}}</option>
            </select>

        </div>

         <div class="col-sm-12 col-md-4 nav_button" dropdown is-open="status.isopen">
              <button id="single-button" type="button" class="btn btn-default btn-block" dropdown-toggle ng-disabled="disabled">
                Add Dancers <span class="caret"></span>
              </button>

              <div class="dropdown-menu" role="menu" aria-labelledby="single-button">
                <dancer-nav></dancer-nav>
              </div>
        </div>

        <div class="col-sm-12 col-md-4 nav_button" >
              <button id="addon-button" type="button" class="btn btn-default btn-block" ng-click="awesomify()">
                Make it awesome
              </button>

        </div>
        <audio ng-hide="true" ng-src="{{dancesong}}" autoplay controls></audio>
        
    </div>
</nav>