navbar {


  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  .nav_button{
    button, select{
      border: 2px solid #42b9ce;
      color: #42b9ce;
      font-weight:bold;
    }
  }

  .fixed-height-menu{
    height: 400px;
    overflow:scroll;

    .dancer{
      height:10vh;
    }
  }

}
