* {
  box-sizing: border-box;
}

body {

  background-image: url('/js/Backgrounds/party-background.jpg');
  background-size: cover;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  width: 100%;
  margin: 0 auto;

}

.dancer{
    height:20vh;
    width:auto;
    position:relative;
}




@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'jointheparty/main';
@import 'party/main';
