
.webcam{
	video{
		border: 3px solid #f29e8d;
		border-radius:5px;
		background: #e5f4f8;
	}


}

.cam{
	position:absolute;
	left:40%;
	margin-top:10%;

	.pic-button{
		color: #f29e8d;
		font-weight: bold;
	}


}

.moveForward{
	z-index: 10;

}